html
{
    background-color:rgb(106, 159, 172);
    border:5px solid black;
}
h1
{
    font-size:50px;
    margin:0;
    padding:20px 0;
    color:#3aceb5;
    text-shadow:10px 10px 4px black;
}
body
{
    width:600px;
    margin:0 auto;
    padding:0 20px 20px 80px;
    background-color:pink;
    
}
p{
    color:red;
    font-size:40px;
    font-family:Nerko One;
}
li{
    color:rgb(93, 44, 150);
    font-size:30px;
    font-family:Nerko One;
}
img
{
    width:400px;
    disply:block;
    margin:0 auto;
}
